{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Confirmación de Carga
{% endblock titulo %}

{% block contenido %}
<div class="container blanco-opaco mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>¡Propiedad agregada con éxito!</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>¡Resumen de carga!</strong>
                </div>
                <div class="card-body">
                    {% if primera_imagen %}
                        <img src="{{ primera_imagen }}" alt="" class="img-fluid">
                    {% else %}
                        <p>No se ha proporcionado ninguna imagen.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <strong>¡Propiedad agregada con éxito!</strong>
                </div>
                <div class="card-body">
                    <p>Información de la propiedad:</p>
                    <ul class="list-unstyled">
                        <li><strong>Descripción:</strong> {{ propiedad.descripcion }}</li>
                        <li><strong>Precio:</strong> {{ propiedad.precio }}</li>
                        <li><strong>Tipo de propiedad:</strong> {{ propiedad.get_tipo_display }}</li>
                        <li><strong>Ubicación de la propiedad:</strong> {{ propiedad.ubicacion }}</li>
                        <li><strong>¿Servicios incluidos?:</strong>
                             <!--True entonces es sí, False entonces es no-->
                            {% if propiedad.serviciosIncluidos %}
                                Sí
                            {% else %}
                                No
                            {% endif %}</li>
                    </ul>
                    <a class="btn_mediano btn_redondo btn btn-primary btn-lg" href="{% url 'bienvenida' %}" role="button">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
